@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* CSS VARIABLES */
:root {
	--text: #f6f9fe;	
	--background: #061023;
	--primary: #e9c57c;
	--secondary: #091a39;
	--accent: #da9e25;
    --accent-dark: #efa512;

    --font: 'IBM Plex Mono', monospace;
    --cyberpunk-clip-path: polygon(0 50%, 15% 0, 100% 0%, 100% 50%, 85% 100%, 0% 100%);
}

body {	
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font); 
}

.nav.nav-tabs .nav-link.active{
    border-radius: 0;
    background-color: var(--primary) !important;
    color: var(--background) !important;
}

#section-decryption{
    margin-top: 6rem !important;
}

/* CYBERPUNK BUTTON */
.btn-cyberpunk{ 
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 10rem;
    height: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;    
    color: var(--text);
    background-color: var(--accent);    
    clip-path: var(--cyberpunk-clip-path);
}

.btn-cyberpunk:hover{        
    animation: animation-btn-cyberpunk-hover 0.12s linear 0s forwards;
}

@keyframes animation-btn-cyberpunk-hover {
    to{
        background-color: var(--accent-dark);        
        letter-spacing: 0.12rem;
        font-size: 1.025rem;        
        transform: scale(1.035);         
    }
}

.test{
    padding: 5rem;
}